<!DOCTYPE html>
<html>
	<head>
		<title>Image to Text</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style.css">
	</head>
	<body ng-app="myapp">
		<h1>Image to Text Converter</h1>
        <form  ng-controller="MyCtrl as up" name="up.upload_form">
            <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="btn btn-success"/>
            <br><br>
            <p>Image thumbnail:</p> <img ng-show="!!up.file" ngf-thumbnail="up.file"/>
            <i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            <br>
            <button type="submit" ng-click="up.submit()" class="btn btn-primary">Submit</button>
            <p>{{up.progress}}</p>

            <button type="submit" ng-click="convert()" class="btn btn-secondary">Convert to Text</button>

            <p>{{answer}}</p>
        </form>
	</body>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</html>
